@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("../img/ft_fundo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

body::-webkit-scrollbar {   
  display: none;
}

/* Título */
.titulo_educacao {
    display: flex;
    background: rgba(48, 160, 72, 0.733);
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    padding: 15px;
    color: white;
    border-radius: 0px 0px 70px 0px;
}

/* Select/menu */
.menus_educacao {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.menus_educacao select {
    width: 80%;
    height: 45px;
    padding-left: 1rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 10px;
    background-color: rgba(48, 160, 72, 0.733);
    color: #FFF;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Conteúdo dos temas */
.fade-in {
    max-width: 600px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    font-size: 1rem;
    line-height: 1.5rem;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
